@model ProjetoVacina.Models.Vacina

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Vacina</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VacinaNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VacinaNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VacinaDescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VacinaDescricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndicacaoGenero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndicacaoGenero.IndicacaoGeneroId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndicacaoIdade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndicacaoIdade.IndicacaoIdadeId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VacinaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
