@model ProjetoVacina.Models.Vacina

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vacina</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VacinaNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VacinaNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VacinaDescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VacinaDescricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndicacaoGenero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndicacaoGenero.IndicacaoGeneroId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IndicacaoIdade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IndicacaoIdade.IndicacaoIdadeId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.VacinaId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
